networkx
simpy
numpy
kafka_python
plotly
dash
requests
dash_html_components
matplotlib
pandas
py2neo
influxdb==5.3.1
dash_cytoscape
jsonpickle
dash_core_components
dash_bootstrap_components
fastapi
python-dotenv
uvicorn
