[influx2]
# Do not change this identifier, as it is used directly by the influx API
url = http://127.0.0.1:8087
org = sindit
token = 31uDvEMG-fGE3aLiD1wUbE10Vz0_H21yWjjQvzhgQ2GdsBL9Ql7mZftLhsSG-AKEDCwFWF-o4wIXANlIHkNC4g==
verify_ssl = False

;[influx_db_timeseries]
;host = 127.0.0.1
;port = 8087
;user = sindit_influxdb
;pw = sindit_influxdb
;org = sindit




[influxdb]
host = 127.0.0.1
port = 8086
influx_user = 
influx_pass = 
use_ssl = False
ssl_verify = False
db_name = dt-prototype
write_batch_size = 1
[factory-neo4j]
uri = bolt://127.0.0.1:7687
need_auth=false
user=neo4j
pass=neo4ja
[parts-neo4j]
uri = bolt://127.0.0.1:7688
need_auth=false
user=neo4j
pass=neo4ja
[kafka]
uri = localhost:9092