.custom-table {
    border: thin lightgrey solid;
    overflow-x: scroll;
}

.custom-table-header {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.tab-content-container {
    padding-top: 20px;
}

.inline-alert {
    height: 100%;
    display: inline-block;
    font-weight: 200;
    line-height: 1.1;
    color: #777;
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: 0;
}

/* .navbar {
    border: none;
    background-color: #446e9b;
    background-image: none;
} */